Misc/CorrelationTest/CorrelationProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CorrelationProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/CorrelationProcess"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/DataModule/BusinessObject" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CorrelationProcess">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/DataModule/BusinessObject" schemaLocation="businessCatalog/DataModule/BusinessObject.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:BusinessObject"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:BusinessObject"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="CorrelationProcessPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="CorrelationProcessPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="CorrelationProcessPortTypePartnerLinkType">
        <plnk:role name="CorrelationProcessPortTypeProvider">
            <plnk:portType name="tns:CorrelationProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
